###############################################################################
# begin requirements from: requirements.txt

-e ".[test]"

# end requirements from: requirements.txt
###############################################################################
